extends layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/swiper-3.4.1.min.css")
  link(rel="stylesheet", href="/stylesheets/index.css")
  style.
    body {}
block javascripts
  script(type='text/javascript', src='/javascripts/swiper-3.4.1.jquery.min.js')
  script(type='text/javascript', src='/javascripts/touch-0.2.14.min.js')
  script(type='text/javascript', src='/javascripts/index.js')
block content
  include common/footer
  //- 头部轮播
  .hs-banner 
    .bg-banner
      #banner_swiper.swiper-container
        .swiper-wrapper
          if data[0].data['head_carousel']
            each item in data[0].data['head_carousel']
              .swiper-slide
                a(href=item.url)
                  img(src=item.mig)
        .swiper-pagination
    //.white-gradient
    //.bottom-cloud
      img(src='images/index/white_cloud_02.png', alt='')
    //.weather
    //    iframe(src='//www.seniverse.com/weather/weather.aspx?uid=U98F69A4D4&cid=CHAH090700|%E5%A4%A9%E6%B0%94%EF%BC%9A&l=zh-CHS&p=SMART&a=0&u=C&s=7&m=0&x=0&d=1&fc=D10F41&bgc=&bc=&ti=0&in=0&li=', frameborder='0', scrolling='no', width='180', height='20', allowtransparency='true')
  .hs-nav
    ul.clearfix
      li
        a(href='/list/ticket')
          img(src='images/index/icon_ticket.png', alt='...')
          p 景区门票
      li
        a(href='/list/hotel?type=0')
          img(src='images/index/icon_hotel.png', alt='...')
          p 酒店住宿
      li
        a(href='list/car')
          img(src='images/index/icon_tram.png', alt='...')
          p 租车服务

      li
        a(href='list/guide')
          img(src='images/index/icon_tour.png', alt='...')
          p 当地向导
      li
        a(href='list/combo')
          img(src='images/index/icon_combo.png', alt='...')
          p 特惠套餐
      li
        a(href='/repastIndex')
          img(src='images/index/icon_foods.png', alt='...')
          p 餐饮美食
      li
        a(href='/goodsIndex')
          img(src='images/index/icon_shopping.png', alt='...')
          p 特色商品
      li
        a(href='/strategyIndex')
          img(src='images/index/icon_strategy.png', alt='...')
          p 游玩攻略

  .top-announcement
    img.icon-announcement(src='images/index/newstitle.png', alt='...')
    label 热门
    #shuffling_ann.swiper-container
      .swiper-wrapper
        if data[0].data['wap-news']
          each item in data[0].data['wap-news']
            .swiper-slide
              a(href='detail/strategy/' + item.baseCode) #{item.name}
  .hs-adv
    .bg-banner
      #adv_swiper.swiper-container
        .swiper-wrapper
          each item in data[0].data['middle_carousel']  
            .swiper-slide
              a(href=item.url)
                img(src=item.mig, alt=item.name)
              //h2 #{item.title}
              //label ￥ #{item.price}
        .swiper-pagination
  .hs-active
    #active_swiper.swiper-container
      .swiper-wrapper
        if data[0].data['middle_menu']
          each item in data[0].data['middle_menu']
            .swiper-slide
              a(href=item.url)
                img(src=item.mig, alt=item.name)
                p.title #{item.name}
                span
                  i ￥
                  em #{item.price}
                  s ￥#{item.beforePrice}
                strong
                  img(src='images/index/ico_hot_03.png', alt='...')
  .hs-list
    #slideTxtBox.fq-slide-box
      .hd.fq-recommend-nav
        .list-title
          img(src='images/index/ico_fire.jpg', alt='...')
          em 特惠套餐
          a( href="list/combo") 更多
      .img-list
        #fq_swiper.swiper-container
          .swiper-wrapper.fq-img-list
            ul.swiper-slide.clearfix
              if data[0].data['specialPackage']
                each item in data[0].data['specialPackage']
                  li
                    a.clearfix(href=item.url)
                      img(src=item.mig, alt=item.name)
                      span.content
                        em.title #{item.name}
                        strong #{item.remark}
                        span.price
                          i ￥
                          em #{item.price}
                          s ￥#{item.delete_price}
                          span.label
                            if item.labels
                              if item.labels.indexOf(',') !== -1
                                - var labelsArrow = item.labels.split(',');
                                each label in labelsArrow
                                  em #{label}
                              else
                                em #{item.labels}


  +footer                