extends layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/member.css")
block javascripts
block content
    include common/footer3

    header.member-header
        h3.user-name.c-333=data.nickName
        p.header-explian.c-666 welcome
        a.user-face(href='javascript:;')
            i.font-icon.icon-iconfont-geren
        //p.header-explian.me-score
        //    em 等级 #{data.elevelCode}
        //    label 积分： #{data.leaguerScore || 0}
    section
        ul.tab.clearfix.member-tab
            li
                a(href='/list/order?orderStatus=0')
                    i.font-icon.icon-iconfont-daizhifu.dingdan-unpay
                    | 待支付
            li
                a(href='/list/order?orderStatus=1')
                    i.font-icon.icon-iconfont-yizhifu2.dingdan-pay
                    | 已出票
            li
                a(href='/list/order?orderStatus=2')
                    i.font-icon.icon-iconfont-gougou.dingdan-complent
                    | 已完成
            //li
            //    a(href='/list/order?refundStatus=3')
            //        i.font-icon.icon-iconfont-tuikuan.dingdan-refund
            //        | 退款
            li
                a(href='/list/refund?orderStatus=-1')
                    i.font-icon.icon-iconfont-tuikuan.dingdan-refund
                    | 退单
    ul.order-list.member-list
        li
            a(href="/list/order")
                label.lab-title
                    i.font-icon.icon-iconfont-dingdan
                    | 全部订单
                i.font-icon.fr.icon-iconfont-jiantou
    //.page-line
    //ul.order-list.member-list
        li
            label.lab-title(for='')
                i.font-icon.icon-iconfont-zhanghu
                | 姓名
            | #{data.realname}
        li
            label.lab-title(for='')
                i.font-icon.icon-iconfont-shouji
                | 手机
            | #{data.mobile}
        li
            label.lab-title(for='')
                i.font-icon.icon-iconfont-shenfenyanzheng
                | 身份证
            | #{data.idCard}
    .page-line
    ul.order-list.member-list
        li
            a(href='/member/user')
                label.lab-title(for='')
                    i.font-icon.icon-iconfont-suo
                    | 账户中心
                i.font-icon.fr.icon-iconfont-jiantou      
    .page-line
    ul.order-list.member-list
        li
            a(href='/coupons/member')
                label.lab-title(for='')
                    i.font-icon.icon-iconfont-hongbao
                    | 优惠劵
                i.font-icon.fr.icon-iconfont-jiantou
        li
            a(href='tel:400-000-000')
                label.lab-title(for='')
                    i.font-icon.icon-italk
                    | 客服
                i.font-icon.fr.icon-iconfont-jiantou
    //.page-line
    //ul.order-list.member-list
    //    li
    //        a(href='/list/integral')
    //            label.lab-title(for='')
    //                i.font-icon.icon-iconfont-indexjifen
    //                | 我的积分
    //            i.font-icon.fr.icon-iconfont-jiantou
    .page-line

    ul.order-list.member-list
        li
            a#loginOut(href='javascript:;')
                label.lab-title(for='')
                    i.font-icon.icon-iconfont-tuichu
                    | 退出登录
    +footer3
    script.
        $(function () {
            $('#loginOut').click(function () {
                var confirmDel = confirm('确认要退出登录');
                if (confirmDel) {
                    $.get('/loginOut')
                        .success(function () {
                            alert('退出成功')
                            window.location.href = '/login'
                        })
                        .error(function (err) {
                            window.location.href = '/error';
                        });
                }
            })
        })