extends layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/swiper-3.4.1.min.css")
    link(rel="stylesheet", href="/stylesheets/shopindex.css")
    link(rel="stylesheet", href="/stylesheets/dropload.css")

block javascripts
    script(type='text/javascript', src='/javascripts/swiper-3.4.1.jquery.min.js')
    script(type='text/javascript', src='/javascripts/touch-0.2.14.min.js')
    script(type='text/javascript', src='/javascripts/dropload.min.js')
    script(type='text/javascript', src='/javascripts/shopindex.js')
    script(type='text/javascript', src='/javascripts/repastlist.js')
block content
    include common/footer
    .shopbanner
        #banner_swiper.swiper-container
            .swiper-wrapper
                each item in data[0].data['repast_head_carousel']
                    .swiper-slide
                        a(href=item.url)
                            img(src=item.mig)

            .swiper-pagination
    .shop-content1
        .shop-title
            h2 新品首发
            //a( href='list/repast') 更多
            //    i.font-icon.icon-jianta
        .swiper-container2
            .swiper-wrapper
                each item in data[0].data['recommendRepast']
                    .swiper-slide
                        a(href=item.url)
                            img(src=item.mig, alt='')
                            h3 #{item.name}
                            span #{item.summary}
                            p
                                em ¥
                                | #{item.price}
    .shop-content1.repeat-content
        .repeat-title
            ul
                each item in data[1].data
                    li(data-id=item.id).on #{item.classifyName}
        .img-list.drop-box
            ul




