extends layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/swiper-3.4.1.min.css")
    link(rel="stylesheet", href="/stylesheets/shopindex.css")

block javascripts
    script(type='text/javascript', src='/javascripts/swiper-3.4.1.jquery.min.js')
    script(type='text/javascript', src='/javascripts/touch-0.2.14.min.js')
    script(type='text/javascript', src='/javascripts/shopindex.js')
block content
    include common/footer
    .shopbanner
       #banner_swiper.swiper-container
           .swiper-wrapper
               each item in data[0].data['goods_head_carousel']
                   .swiper-slide
                      a(href=item.url)
                        img(src=item.mig)

           .swiper-pagination
    .shop-content1
        .shop-title
            h2 新品首发
            a( href='list/shop') 更多
              i.font-icon.icon-jianta
        .swiper-container2
            .swiper-wrapper
                each item in data[0].data['goods_new_publish']
                    .swiper-slide
                        a(href=item.url)
                            img(src=item.mig, alt='')
                            h3 #{item.name}
                            span #{item.summary}
                            p
                             em ¥
                             | #{item.price}
    .shop-content1
        .shop-title
            h2 推荐商品
            a( href='list/shop') 更多
                i.font-icon.icon-jianta
        .shop-list
            ul
                each item in data[0].data['recommendGoods']
                    li
                      a( href=item.url?item.url:'')
                       img( src=item.mig?item.mig:'')
                       //.labels
                       //    if item.goodsLabel
                       //        if item.goodsLabel.indexOf(',') !== -1
                       //            - var labelsArrow = item.goodsLabel.split(',');
                       //            each label in labelsArrow
                       //                span #{label}
                       //        else
                       //            span #{item.labels}
                       h2 #{item.name}
                       p
                           em ¥
                           | #{item.price}



