extends ../layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/detail.css")
block javascripts
block content
  -var tag=''
  case module
    when 'ticket'
      -tag='景区'
    when 'hotel'
      -tag='酒店'
    when 'amusement'
      -tag='娱乐'
    when 'repast'
      -tag='餐厅'
  ul#details-tab.tours-details-tab.tab.clearfix.details-tab
    li
      a.active(href='javascript:;', data-div='book') #{tag}介绍
    li
      a(href='javascript:;', data-div='scenic')=module === 'combo' ? '费用说明' : '预订须知'
  .details-tab-panel
    #tab-panel.ticket-details-tabs(style='margin-left: 0%;')
      #book.details-tab-item(style='height: auto;')
        .tab-article!=data.content
      #scenic.details-tab-item
        .tab-article!= module === 'combo' ? data.feeDetail : data.orderNotice
  //.article-info!=data
