//- 关键字搜索
mixin search(name)
    .search-bar#searchBar
        input.list-search-input(type='text', placeholder='搜索关键字',value=name)
        button.search-btn.font-icon.icon-search

//- 条件筛选
mixin filter(module,orderStatus)
    if module === 'order' || module === 'refund'
        section(class='header-tab has-search member-search',data='#{orderStatus}')
            ul#myOrderTab.tab.clearfix.myorder-tab
                li
                    if orderStatus == ""
                        a(href="/list/order").c-base 全部订单
                    else
                        a(href="/list/order") 全部订单
                li
                    if orderStatus == "0"
                        a(href="/list/order?orderStatus=0").c-base 待支付
                    else
                        a(href="/list/order?orderStatus=0") 待支付
                li
                    if orderStatus == "1"
                        a(href="/list/order?orderStatus=1").c-base 已出票
                    else
                        a(href="/list/order?orderStatus=1") 已出票
                li
                    if orderStatus == "2"
                        a(href="/list/order?orderStatus=2").c-base 已完成
                    else
                        a(href="/list/order?orderStatus=2") 已完成
                //li
                //    if orderStatus == "3"
                //        a(href="/list/order?orderStatus=3").c-base 退款
                //    else
                //        a(href="/list/order?orderStatus=3") 退款
                li
                    if orderStatus == "-1"
                        a(href="/list/refund?orderStatus=-1").c-base 退单
                    else
                        a(href="/list/refund?orderStatus=-1") 退单

mixin panel(module,data)
    if module === 'order'||module === 'refund'
        //dl.tab-search-panel.filterList
        //    dt(data-filter='orderStatus')
        //    dd(data-filter='0') 待支付
        //    dd(data-filter='1') 已支付
        //    dd(data-filter='3') 已过期
        //dl.tab-search-panel.filterList
        //    dt(data-filter='orderType')
        //    dd(data-filter='ticket') 景区
        //    dd(data-filter='hotel') 酒店
        //    dd(data-filter='combo') 自由行
        //    dd(data-filter='goods') 购物
        //    dd(data-filter='repast') 美食
        //    dd(data-filter='amuse') 娱乐
        //    dd(data-filter='traffic') 交通
    else if module=='hotel'
        .list-tab
            ul
                if data[0].data.length > 0
                    each item in data[0].data
                        li(data-filter=item.id, data-type=item.type ? item.type: '') #{item.classifyName}
                            em
    else if module=='combo'
        .list-tab
            ul
               li(data-url='/list/combo' data-module='combo') 自由行
                  em
               li(data-url='/list/route' data-module='route') 跟团游
                    em
    else
        .list-tab
            ul
                if data[0].data.length > 0
                    each item in data[0].data
                        li(data-filter=item.id) #{item.classifyName}
                            em



